.DS_Store
.idea
home
home/centerx
home/matrix
var/log
access.log
error.log
mysqldata
var/lib/mysql
backup

node_modules

home/default/etc/phpMyAdmin/tmp/twig/
.well-known/pki-validation

philgo.com
etc/ssl/philgo.com
etc/ssl/
backup/
