.DS_Store
.idea
home
home/centerx
home/matrix
etc/nginx/logs
access.log
error.log
mysqldata
var/lib/mysql
backup

node_modules

home/default/etc/phpMyAdmin/tmp/twig/
.well-known/pki-validation


backup/
